.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr; /* left 1 part, right 2 parts */
  height: 100vh; 
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr; /* desktop layout */
  height: 100%;
}



@media (max-width: 567px) {
  .projectHeading{
  font-size: 35px;
}
  .wrapper {
    grid-template-columns: 1fr; 
    height: auto; 
  }

  .left, .right {
    width: 100%; 
  }

  .left p {
    padding: 0 !important;
    text-align: center;
  }

  .right .col-10 {
    width: 100% !important;
  }

  .project-card {
    width: 100% !important;
  }
}


.left {
  position: sticky;
  top: 0;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}





.card-body {
    background-color: transparent;
}

.card-body img {
    transition: transform 0.5s;
}

.card-body img:hover {
    transform: scale(0.98);
    cursor: crosshair;
}

.arrowShare {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.9;
    text-decoration: none;
    overflow: hidden;
    color: #030303;
    background: #ffe066;
}

.arrowShare:hover {
    scale: 1.05;
    background: #030303;
    color: #fff;
    transition: all 0.5s ease-in;
}

.xBtn {
    right: 30px;
    background: black;
    width: 40px;
    height: 40px;
    top: 30px;
    border-radius: 50%;
}