.about_img{
        transform: rotateY(180deg);
    width: 100%;
    height: 70% !important;
}


.aboutDiv{
    max-height: 665px;
    text-align: justify;
}




.nav-link.active {
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
}

.nav-link:hover {
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-link.active::after {
 content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 1px;
    background-color: lightcyan;
}


.dropDownMessage a{
  text-decoration: none;
  color: #fff;
}


#productDiv1 {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background: #18181B !important;
}

#productDiv1::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid transparent;
  border-radius: 12px;
  background: linear-gradient(135deg, #ff6a00, #ee0979, #7f00ff, #00c6ff) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#productDiv1:hover::before {
  opacity: 1;
}
#productDiv1:hover .clgBtn {
  background: #27272A !important;
  color: #fff !important;
}
