
.theme-toggle-btn {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: inherit;
}

body.light-mode
 {
  background-color: #99A98F;
  color: #030303;
}

/* Navbar */
body.light-mode .navDiv,
body.light-mode .miniResume
 {
  background: #C1D0B5 !important;
  border-color: #000 !important;
}

/* Links */
body.light-mode a {
  color: #000 !important;
}
body.light-mode i
 {
  color: #000 !important;
}
body.light-mode .socialDiv a ,
body.light-mode .AboutsocialDiv a 
{
  background-color: #D6E8DB;
}

/* Cards */
body.light-mode .serviceCard,
body.light-mode .serviceCardMobile
 {
  background-color: #fff !important;
  color: #000 !important;
  border-color: #ccc !important;
}

/* Sidebar */
body.light-mode .mobileSideBar,
body.light-mode .mobileClose,
body.light-mode input,
body.light-mode textarea
 {
  background: #C1D0B5 !important;
  color: #030303 !important;
}



body.light-mode .downloadResumeBtn
{
  background-color: #D6E8DB;
}


