
.theme-toggle-btn {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: inherit;
}

body.light-mode {
  background-color: #fff;
  color: #030303;
}

/* Navbar */
body.light-mode .navDiv {
  background: rgb(212, 207, 207) !important;
  border-color: #ddd !important;
}

/* Links */
body.light-mode a {
  color: #000 !important;
}
body.light-mode i
 {
  color: #000 !important;
}
body.light-mode .socialDiv a ,
body.light-mode .AboutsocialDiv a 
{
  background: rgb(212, 207, 207) !important;
}

/* Cards */
body.light-mode .serviceCard,
body.light-mode .serviceCardMobile
 {
  background-color: #fff !important;
  color: #000 !important;
  border-color: #ccc !important;
}

/* Sidebar */
body.light-mode .mobileSideBar,
body.light-mode .mobileClose
 {
    background: rgb(212, 207, 207) !important;
  color: #000 !important;
}

