
.skillsDiv{
 
    overflow-x: hidden;
    z-index: 1000;
}



.skill-card:hover {
  background-color: #212529;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
}

.skill-icon:hover {
  transform: scale(1.1);
}


.skillHeading{
  font-size: 50px;
}

.seeMore h3:hover{
  transform: scale(0.98);
  color: wheat;
}



@media (max-width: 567px) {
.skillHeading{
  font-size: 35px;
}
}





