#cursor {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  background-color: aqua;
  border-radius: 50%;
  opacity: 0.2;
}



@media (max-width: 567px) {
#cursor{
  display: none;
}
}